#presentacion {
    color:blue;
    font-size: 30px;
}

.apartado {
    background-color: #bbb3e1;
    padding: 24px 2px 8px 16px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 24px;
    width: 200px;
}

p {
    color: white;
}